/* Set default font family and size */
body {
    background-color: #fff;
    background-image: url("materials/bg-lang-ba-dinh.jpg");
    background-size: cover;
    background-position: center;
}

/* Style the container for the quote and image */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Style the image */
#quote-image {
    overflow: hidden;
    max-width: 100%;
    height: 1300px;
    margin:  auto;
    margin-bottom: 15px;
    border: 3px solid #000;
}
/* Style the new quote button */
#new-quote-btn {
    background-color: #fff;
    border: 1px solid thin #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.35s ease-in-out, transform 0.2s ease-in-out;
}
#new-quote-btn:hover {
    background-color: #000;
    color: #fff;
}
#new-quote-btn:active {
    transform: scale(0.75);
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 767px) {
    #quote {
        font-size: 18px;
    }
}

/* Media query for screens smaller than 576px */
@media screen and (max-width: 575px) {
    #quote {
        font-size: 16px;
    }
}